.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(51, 197, 255, 0.748);
  background-image: url(http://www.transparenttextures.com/patterns/arches.png);
  height: 400px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size:36px;
  margin-top: 120px;
}

@media  only screen and (min-width: 1024px) {

  .header {
    display: flex;
    width: 40%;
    float: left;
    border: 3em #f4f1ec solid;
    padding: 8em;
    justify-content: center;
    flex-direction: center; 
    align-content: center; 
  }

}
