.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(51, 197, 255, 0.748);
  background-image: url(http://www.transparenttextures.com/patterns/arches.png);
  height: 400px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size:36px;
  text-align: center;
  margin-top: 120px;
}

.mobile-header-background {
  width: 100%;
  height: 520px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .header {
    position: absolute;
    z-index:1;
    background-color: transparent;
    background-image: none;
  }  
  .mobile-header-background {
    z-index:0;
    background-color: rgba(51, 197, 255, 0.748);
    background-image: url(http://www.transparenttextures.com/patterns/arches.png);
  }
}

@media  only screen and (min-width: 1024px) {

  .header {
    width: 40%;
    float: left;
    border: 3em #f4f1ec solid;
    padding: 8em;
    justify-content: center;
    flex-direction: center; 
    align-content: center; 
  }
  .mobile-header-background {
    display: none;
  }

}
