/* Nav Bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  background-color: #4056A1; 
  align-items: center;
  height: 120px;
  z-index:2;
  width: 100vw;
  color: white;
  position: fixed;
  top: 0%;
}

.nav-logo {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
} 
.nav-newTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.nav-newTweet i {
  padding-top: 0.2em;
  color: red;
  position: relative; 
  animation: arrowRun 1s linear 0s infinite alternate-reverse;
}
/* animation setting */
@keyframes arrowRun {
  0% { transform: translateY(0px);} 
  100% { transform: translateY(20px);} 
} 

/*
 * tablet and smart phone version
 */

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .nav-bar {
   color: #4056A1;
   background-color: transparent;
  }
  .nav-logo {
    margin-top: -0.8em;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px){
  .nav-bar {
   color: #4056A1;
   background-color: transparent;
   padding: 1rem 1rem;
  }
  .nav-logo {
    margin-top: -0.8em;
  }
}

